/* COMMON LESS
*********************************************/

//BACKWARDS
.clearfix{
    clear:both;
}

div#superwrapper{
    opacity:1;
}

body.modal-open{
    padding-right:0px !important;
}

div.mainwrapper{
    padding-right: 15px;
    padding-left: 15px;
    position:relative;
    margin-bottom: 100px;
}
div.flex_wrapper{
    display:flex;
}

html {
	overflow-y: scroll; // scrollbar fix (prevent ugly left pull for lower content sites)
    overflow-y: auto; // test
}

body {

}


figure.newsflash-image, div.newsflash{
    img{
        max-width: 100%; 
        height: auto;
    }
}


div.bg{
	position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
	img{
		    height: 100%;
    	width: 100%;
	}
}

.buf_nopadding{
    padding: 0;
}


div.pagination{
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-top:15px;
    p.counter{
        font-size:small;
        clear:both;
    }
    ul.pagination{

    }
}

div.buf_dev_mode{
    position: fixed;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.16);
    width: 100%;
    padding: 4px 10px;
    color: #7b0c38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    a.buf_dev_mode_close{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}


div.buf_credits{
    display: flex;
    align-items: center;
    font-size: 10px;
    color:#bbb;
    padding: 10px;
    justify-content: flex-end;
    p{
        margin:0px;
    }
    div.buf_credit_logo{
        margin-right: 5px;
        img{
            max-height: 28px;
        }
    }
    a{
        color:#999;
    }
}

 


/* BUF ACCORDEON
*********************************************/


div.bufaccordion_wrapper{
        margin-bottom:15px;
        margin-top:15px;
        div.card-header{
            cursor: pointer;
            
            h1, h2, h3, h4, h5, h6{
              margin:0px; 
            }

            .buf_accordion_header_image{
                img{
                    width: 100px;
                    max-width: 100%;
                }
            }
            .svg-inline--fa,.fas{
                transition:all 300ms;
            }
            &.collapsed{
                
                &:hover{
                   
                }
                div.buf_accordion_header_icon{
                    .svg-inline--fa,.fas{
                        
                        transform:rotate(-90deg);
                    }
                }
            }
        }
 }





//TEST
.fields-container{
    //background-color: red;
}












//MOBILE

@media (max-width: 767px) {

    @import 'mobile.scss';

}




//므 므 므 므 므 므 므 므 므 므 므 므 므 므//
//////////////TABLET////////////////
@media (min-width: 768px) {
    @import 'tablet.scss';
}

@media (min-width: 992px) {}

@media (min-width: 1170px) {}
