/*BUF admin css v1.0.1*/


body.com_templates{
	background: #f5f5f5;
}

div.buf_template_data{
	
		text-align:center;
	
}


//BACKEND STYLE
#content{
	.btn{
		    background-color: #fafafa;
		    transition:box-shadow 300ms;
		        padding: 2px 8px;
		    &:not(.active){
			    &:hover{
			    	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.18);
			    	background-color:#fff;
			    }
		    }

	}
	.btn-danger{
		border-color:#bd362f;
		background-color: rgba(189, 54, 47, 0.25);
		color:#bd362f;
		//font-weight: bold;
	}
	.btn-success{
		border-color:#46a546;
		background-color: rgba(70, 165, 70, 0.25);
		color:#2f6f2f;
		//font-weight: bold;
	}
}

//CACHE
#toolbar-buf_empy_cache{
	float:right;
}


// menu modifications
ul#myTabTabs{
	li a{
		display: flex;
		padding-left:10px;
		align-items: center;
		svg{
			padding-right:4px;
		}
	}
	li:first-child{
		a:before{

		 font-family: 'IcoMoon';
		  font-weight: 900;
		  content: "\32";
		  padding-right: 4px;
		}
	}
	li:nth-last-child(2){
		a:before{
		font-family: 'IcoMoon';
		  font-weight: 900;
		  content: "\77";
		  padding-right: 4px;
		}
	}
	li:last-child{
		a:before{
		 font-family: 'IcoMoon';
		  font-weight: 900;
		  content: "\31";
		  padding-right: 4px;
		}
	}
}


//remove buf text
div.form-horizontal{
	div#myTabContent{

		background:#fff;
		div.span9{
			>h2{
				display:none;
			}
		}
	}
}

div.buf_toolbar_wrapper{
	background-color: #d1e8d1;
	border: solid 1px rgba(60, 118, 61, 0.14);
    padding-top: 6px;
    //padding-left: 25px;
    padding: 6px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div.buf_toolbar_file_buttons{
    	display: flex;
    	align-items: center;
    	>div{
    		margin-left: 15px;
    	}
    	div.btn_buf_clean{
    		padding: 2px 8px;
    		border:solid 1px rgba(247, 83, 83, 0.3);
    		cursor: pointer;
    		border-radius: 3px;
    		box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    		a{
    			text-decoration: none;
    			color: #a94545;
    		}
    	}
    }
    div.buf_toolbar_file_info{
    	display: flex;
    	>div{
    		margin-right: 15px;
    	}
    }
}

.buf_hide{
	display: none;
}



#details{
	>.row-fluid{
		>.span9{
			>h3{
				display: none;
			}
			>div.info-labels{
				float:right; 
			}
			div.buf_template_data{
				color:#888;
			}
		}
	}
}


div.buf_scss_toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.buf_tb_path{
		flex-grow: 1;
		font-size: 1rem;
		color:#a9a9a9;
    }

    .buf_toolbar_msg{
	    display: flex;
	    /* align-content: space-between; */
	    align-items: center;
	    padding-right: 15px;

	    &.redalert{
	    	color:red;
	    }
    }

    .buf_scss_save{
    	    border-radius: 4px 4px 0 0 !important;
    		padding: 10px 30px;
    		margin-right: 20px;
    		margin-bottom: -1px;

    		.buf_tb_icon{
    			padding-right: 6px;
    			position: absolute;
			    top: 4px;
			    left: 6px;
    		}
    }
}

hr.buf_hr_label_middle{
	display:flex;    
	display: inline-grid;
    vertical-align: middle;
    margin-left:20px;
}


div.buf_plugin_version{
	color:#888;
	.badge-success{
		margin-right:30px;
	}
}




/*SPACERS*/

span.spacer{
	display:block;
	margin-top:15px;
	span.text{
		strong{
			font-size: 15px;
		}
	}
}


//FAVICON

.buffavicons_thumbs_wrapper{
	display:inline-flex;
	    align-items: center;
	.buffavicons_thumbs{
		padding: 10px;
		margin-left:15px;
		background:#fdfdfd;
	    border: solid 1px #e9e9e9;
	    border-radius: 4px;
	    box-shadow: inset 0 0 8px 0px #f5f5f5;
	}
}

//LAYOUT

div.buf_layout_toolbar{
	background:red;
	    padding: 5px;
	div.buf_layout_toolbar_buttons{
		display: flex;
	}

}




div.buf_duplicate_layout{
	    display: inline-block;
	a.buf_duplicate_layout_a{
		span{
			margin-left:4px;
		}
	}

	.buf_duplicate_layout_msg{
		color:#ab51b4;
		padding-left:15px;
	}

}


//TABLET
@media (min-width: 768px) {

	//MENU
	#style-form{

		div.form-horizontal{
			>ul#myTabTabs{
			    background: #f5f5f5;;
			    padding: 4px 10px 0px 10px;
			    margin-left: -20px;
			    margin-right: -20px;
			    display: flex;
	    		justify-content: center;
	    		li a{
	    			transition: background 200ms;
	    		}
			}
			#myTabContent{
				background:#fff;
				margin-right:-20px;
				margin-left:-20px;
				margin-top:-18px;
				padding-right:20px;
				padding-left:20px;
				padding-top:20px;
				padding-bottom:20px;
			}
		}
	}


}