//OFFCANVAS


#bufoc_button.buf_oc_hide{
	display: none;
}

#bufoc_button.buf_oc_show{
	display: block !important;
}

#bufoc_button.buf_oc_show_flex{
	display: flex;
}

//////////////////////////////////////
//BUTTON ////////////////////////////
//////////////////////////////////////
#bufoc_button{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-ms-flex-item-align: center;
	display: -webkit-box;
    display: -ms-flexbox;
	border: none;

    position:fixed;
    outline: none;
    z-index: 9999999;

    
    @extend %buf_oc_button_editor;
    
    //ESTADOS
    span.hamburger-inner{
    	background-color:$buf_oc_button_color;
    	&:before,&:after{
    		background-color:$buf_oc_button_color;
    	}
    }
    //HOVER
    &:hover{
        span.hamburger-inner{
	    	background-color:$buf_oc_button_color_hover;
	    	&:before,&:after{
    			background-color:$buf_oc_button_color_hover;
    		}
	    }	
    }
    //ACTIVE
    &.is-active{
        span.hamburger-inner{
	    	background-color:$buf_oc_button_color_active;
	    	&:before,&:after{
    			background-color:$buf_oc_button_color_active;
    		}
	    }	
    }
  
    //POSITION H
    &.oc_button_hpos_left{
    	left: 0;
    }
    &.oc_button_hpos_middle{
    	//left: calc(100% - 70px);
    	left: calc(50% - 25px);
    }
    &.oc_button_hpos_right{
    	right: 0;
    }

    //POSITION V
    &.oc_button_vpos_top{
    	top: 0;
    }
    &.oc_button_vpos_middle{
    	//left: calc(100% - 70px);
    	top: calc(50% - 25px);
    }
    &.oc_button_vpos_bottom{
    	bottom: 0;
    }

}


//OFFCANVAS
// V1

html.buff_canvas_on{
	//I need overflow visible to ios :S;
	overflow: hidden;

	body {
	  //position: fixed;
	  //overflow: hidden;
	}
	div#superwrapper{
		/*
		-webkit-transition: box-shadow 0.3s ease-in-out 0s;
		-moz-transition: box-shadow 0.3s ease-in-out 0s;
		-o-transition: box-shadow 0.3s ease-in-out 0s;
		-ms-transition: box-shadow 0.3s ease-in-out 0s;
		*/
		transition:transform $buf_oc_speed, opacity $buf_oc_speed;


	} 

}




#buf_offcanvas{
	
	transition:transform $buf_oc_speed, opacity $buf_oc_speed, box-shadow $buf_oc_speed;
	will-change:transform;

	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   	position: fixed;
	top: 0px;
	left: 0px;

	box-shadow: 0 0 1px rgba(0,0,0,0.1);

	//background: red;
	width: $buf_offcanvas_width;
	height: 100%;
	overflow: auto;
	overflow: hidden;
	
	//padding-left: 15px; 
	//padding-right: 15px; 

	contain: strict;
    display: block;
    //style 
    background: $buf_offcanvas_bg_color;
    z-index: 999999;

	&.buff_off_animate{
		transition:transform 0ms;
	}

    //RIGHT
    &.buf_off_pos_right{
    	left: 100%;
    	transform: translateX(0%);
    }

    //LEFT
    &.buf_off_pos_left{
    	left: 0%;
    	transform: translateX(-102%);
    }

    &.buf_off_cover{
    	 div.offcanvas-inner{
    	 	//backdrop-filter: blur(4px);
    	 }
    }
    div.offcanvas-inner{
    	display: block;
    	contain: layout size style;
	    width: 100%;
	    height: 100%;

	    -webkit-overflow-scrolling: touch;
	    will-change: scroll-position;
	    contain: size style layout;


	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    position: absolute;
	    z-index: 1;
	    display: block;
	    //overflow-x: hidden;
	    //overflow-y: scroll;
	    overflow-y: auto;
	    img{
	    	max-width: 100%;
	    }

    }
}

body.buf_oc_mobile{
	#buf_offcanvas{
		width:$buf_offcanvas_width;
	}
}
body.buf_oc_desktop{
	#buf_offcanvas{
		width:$buf_offcanvas_width_desktop;
	}
}



//////////////////////////
//////////////////////////
//ACTIVE
//////////////////////////
//////////////////////////
body.offcanvas_show{

	div#superwrapper{
		overflow: hidden;
	}

	#buf_offcanvas{
		display: inherit;
		box-shadow: 0 0 15px rgba(0,0,0,0.5);

		//RIGHT
	    &.buf_off_pos_right{
	    	left: 100%;
	    	transform: translateX(-100%);
	    }

	    //LEFT
	    &.buf_off_pos_left{
	    	left: 0%;
	    	transform: translateX(0%);
	    }
	}
}




//////////////////////////
//MOVING
//////////////////////////
body.offcanvas_show{

	//moving mobile
	&.buf_oc_mobile{
		//superwrapper
		div.superwrapper.buf_off_move{
			&.buf_off_pos_left{
				transform-origin:left;
				transform: translateX($buf_offcanvas_width);
				touch-action: none;

			}
			&.buf_off_pos_right{
				transform-origin:right;
				transform: translateX(-$buf_offcanvas_width);
				opacity: 0.1;
				touch-action: none;
			}
		}


	}



	//moving DESKTOP
	&.buf_oc_desktop{
		//superwrapper
		div.superwrapper.buf_off_move{
			&.buf_off_pos_left{
				transform-origin:left;
				transform: translateX($buf_offcanvas_width_desktop);
				touch-action: none;

			}
			&.buf_off_pos_right{
				transform-origin:right;
				transform: translateX(-$buf_offcanvas_width_desktop);
				opacity: 0.1;
				touch-action: none;
			}
		}
	}
}










body.buf_offcanvas_hidden{
	#buf_offcanvas{
		box-shadow: none;
		div.offcanvas-inner{
			display: none;
		}
	}
}