/*******************************/
/*********   BUF   *************/
/*******************************/
/*******  base style   *********/
/*******************************/
/*******************************/
/* This styles are loaded at first stage. */
/* Put here only the necessary elements */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
}
p {
    margin: 0 0 10px;

}

#superwrapper{
	opacity:0;
	transition:opacity 300ms;
}



div.offcanvas{
	display: none;
}

div.offcanvas-button{
	display: none;
}


.center{
	background-color: rgba(255,255,255,0.2);
    position: relative;
}





//BOOTSTRAP

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}









div.wrapper_contents p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

div#dxmenu_pral #tm_navbar > ul.totalmenu{
	opacity: 0;
}
div#dxmenu_pral{
	background-color: #57616d;
}




div.bg{
	position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
	img{
		height: 100%;
    	width: 100%;
	}
}

@media (min-width: 768px){
	.container {
	    width: 750px;
	}

}

@media (min-width: 992px){
	.container {
	    width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}
