/*******************************/
/*********   BUF   *************/
/*******************************/
/*******  MAIN style   *********/
/*******************************/
/*******************************/
/* This is the main scss file */



//IMAGES
//background-image:url(#{$img_path}/yourimage.png);

//VARIABLES
$color: #57616d;

//MIXINS
@mixin vag(){
    font-family: 'Varela Round', sans-serif;
}





//right
div.buf_right{
	background:#d9ebeb;
}

//left
div.buf_left{
	background:#d9ebeb;
}

/* YOUR CSS HERE */
// ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ //
//////////////MOBILE////////////////

@media (max-width: 767px) {
	@import 'mobile.scss';
}


//므 므 므 므 므 므 므 므 므 므 므 므 므 므//
//////////////TABLET////////////////

@media (min-width: 768px) {
    @import "tablet.scss";
}

@media (min-width: 992px) {
    @import "laptop.scss";
}

@media (min-width: 1200px) {
    @import "desktop.scss";
}

@media (min-width: 1400px) {
    @import "tv.scss";
}

@media print {
    @import "print.scss";
}

